@(form: Form[controllers.FormData])(implicit request: MessagesRequestHeader)

@main("Upload a File") {
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    
    <h1>Upload File</h1>
    
    @helper.form(action = routes.FileUploadController.uploadFile(), Symbol("enctype") -> "multipart/form-data") {
        <input type="file" multiple name="name" size="30">
        @helper.CSRF.formField
        <input type="submit" id="upload" value="upload file">
    }
}