@import model.domain.objects.Account
@import model.domain.types.AccountType._
@(accs: Set[Account])

@main("Accounts - BookKeeper") {
  <section class="section-header">
    <h2>Accounts</h2>
    <a class="btn" href="@routes.AccountsController.add()">Add Account</a>
  </section>

  <table id="transactionsTable" class="table display" style="width:100%">
      <thead>
          <tr>
              <th>Account Name</th>
              <th>Account Type</th>
          </tr>
      </thead>
      <tbody>
          @accs.map { acc =>
              <tr>
                  <td><a href="/accounts/view/@{acc.getID}">@acc.getName</a></td>
                  <td>@{displayName(acc.getType)}</td>
              </tr>
          }
      </tbody>
  </table>
  <script type="text/javascript">
          $(document).ready(function() {
              $('#transactionsTable').DataTable({
                  order: [[0, 'asc']],
                  pageLength: 25,
                  lengthMenu: [10, 25, 50, 100]
              });
          });
  </script>
}
